h1 {
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
}
body {
  background-image: url("gameBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
p {
  text-align:center;
  font-size:20px;
}
#five {
    height: 25px;
width: 25px;
background-color: red;
  color:white;
border-radius: 50%;
display: inline-block;
  text-align:center;  
    transform: translateX(3600%);
}
#one {
    height: 25px;
    transform: translateX(3600%);
width: 25px;
background-color: white;
  color:black;
border-radius: 50%;
display: inline-block;
  text-align:center;
}
#label {
  display:none;
    transform: translateX(475%);
}
#labelf {
  display:none;
    transform: translateX(1320%);
}
#card {
  height: 120px;
    width: 80px;
    display: none;
    border-radius: 5px;
    background-color: white;
  border-style:solid;  
    transform: translateX(980%);
}
#card2 {
  height: 120px;
    width: 80px;
    display: none;
    border-radius: 5px;
    background-color: white;
  border-style:solid;
    transform: translateX(980%);
}
#cardf {
  height: 120px;
    width: 80px;
    display: none;
    border-radius: 5px;
    background-color: white;
  border-style:solid;
    transform: translateX(1030%);
}
#heart {
    height: 20px;
    width: 80px;
    display: inline-block;
    background-color: red;
    border-radius: 5px;
    font-weight:bold;
    color:white;
    transform: translateX(950%);
}
#diamond {
    height: 20px;
    width: 80px;
    display: inline-block;
    background-color: red;
    border-radius: 5px;
    font-weight:bold;
    color:white;
    transform: translateX(950%);
}
#club {
    height: 20px;
    width: 80px;
    display: inline-block;
    background-color: black;
    border-radius: 5px;
    color:white;
    font-weight:bold;
    transform: translateX(950%);
}
#spade {
    height: 20px;
    width: 80px;
    display: inline-block;
    background-color: black;
    border-radius: 5px;
    color:white;
    font-weight:bold;
    transform: translateX(950%);
}
.choices:hover
{
    text-decoration:underline;
    cursor:pointer;
}
.chips:hover
{
  cursor:pointer;
}
#info
{
    color:blue;
    font-weight:bold;
    font-family:Cursive;
    transform: translateX(1700%);
}
#bet
{
    font-weight:bold;
    font-family:Cursive;
    transform: translateX(2050%);
}
#final
{
    font-weight:bold;
    font-family:Cursive;
    transform: translateX(1090%);
}
#new
{
    font-weight:bold;
    font-family:Cursive;
    transform: translateX(1150%);
}
